<div class="text-field field-control">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', required: true %>
</div>

<div class="password-field field-control">
  <%= form.label :password %>
  <%= form.password_field :password, required: true %>
</div>
