body{
  font-family: verdana,arial,sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.signed-out {
  background: url(app-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table {
  width: 100%;
}
input {
  width: 100%;
}
input[type="checkbox"], input[type="button"], input[type="submit"] {
  width: auto;
}
.ts {
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
.ts th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
.ts td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}
.ts .break {
  background-color: #ccc;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.sign {
  vertical-align: top;
  td {
    padding-top: 40px;
  }
  h2 {
    border-top: 2px solid;
  }
}
#flash {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 8px;
  background: rgb(107, 177, 253);
}

@media print {
  .no-print, #flash {
    display: none !important;
    height: 0;
  }
}
